<%- partial('_partial/head') %>

<% if (is_post()){ %>
  <body data-spy="scroll" data-target="#toc" data-offset="50">
<% } else {%>
  <body>
<% } %>

  <%- partial('_partial/header-post', null, {cache: !config.relative_link}) %>

  <div id="container">
    <div id="wrap">
            
      <div id="content" class="outer">
        <% if (theme.sidebar && theme.sidebar !== 'bottom' && !is_post()){ %>
          <section id="main"><%- body %></section>
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        <% } else {%>
          <section id="main" style="float:none;"><%- body %></section>
        <% } %>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <!-- <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %> -->
    <%- partial('_partial/after-footer') %>
  </div>

  <a id="rocket" href="#top" class=""></a>
  <script type="text/javascript" src="/js/totop.js" async=""></script>

<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script>
  (function(f, a, t, h, o, m){
    a[h]=a[h]||function(){
      (a[h].q=a[h].q||[]).push(arguments)
    };
    o=f.createElement('script'),
    m=f.getElementsByTagName('script')[0];
    o.async=1; o.src=t; o.id='fathom-script';
    m.parentNode.insertBefore(o,m)
  })(document, window, '//tomo.input23.de/tracker.js', 'fathom');
  fathom('set', 'siteId', 'JCFPB');
  fathom('trackPageview');
</script>
<!-- / Fathom -->

</body>
</html>
